.webstudio_button{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

display: flex;
justify-content: center;
}

.webstudio_section h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  
  letter-spacing: 0.06em;
  
  color: #212121;
  
}

.webstudio_section h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
  
}

.webstudio_footer h2{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  
  letter-spacing: 0.03em;
  
  color: #2196F3;
  
}
.webstudio_footer li{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  
}

.webstudio_section{
  display: flex;
  justify-content: space-between;
}

.good_feature{
  background-color:  #F5F4FA;
  padding: 95px 0;
  width: 1140px;
  margin: 0 auto;
}
.team_list li{
  background-color:  #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}
.good_feature{
  transition-property: margin-right, color;
  color: blue;
  transition-duration: 4s, 1s, 50ms;
  transition-timing-function: ease;
  transition-delay: 1s;
  transform: rotate(30deg);
  transform: scaleX(20);
}
.btn{
  transition-property: background-color;
  transition-duration: 2s;
  color:#2196F3;
  transition-timing-function: ease;
  transition-delay: 1s;
  transform: rotate(20deg);

  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;

width: 152px;
height: 30px;
left: 724px;
top: 440px;


}

.header{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

display: flex;
justify-content: space-between;
text-decoration: none;
}
.header:hover{
  color:#2196F3;
}

.container{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

width: 696px;
height: 120px;
left: 452px;
top: 280px;

background-color: #2F303A;
background-size: 100%                         ;
}
